JWT_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VyX2lkIjoiYWRtaW4iLCJleHAiOjE2MjcwMjYzNjguMzQ3MTc3MywiYXBwX2lkIjoiYnJpY2tzZXJ2ZXJfZnJvbnRlbmQifQ.nf5456AAtgtGZyHLKYdCaSOCGQcaMlHv9zVZIkpXPeiIMQgzgbIwmH4JyMfC5s27LO6km0cx_ObDZKU72kgna2odL94zx3McThOSRZ6aEVCchV0gj-9ehX-Ydbg5C830IVxNF_b7fQ29tTAT8DSbkwdEmYjX_4LL4JuO7RKTRx6V7osNYANXmHANCSTv7H1vjFI2IIPgGGsVxdKPDrTSJISWdJtkAKLTwABXltrZQbMO6vwRGoS4LsDsUESMfR7ett9Y6EnEyndkSGsbnhBtwfjZwzuNxVDvBLpzQ2plB_nGacy8u1KdjvCot6925JiREExZfoKbu88rqAbIuIy_FqFH3xcqedd1lwYhQNMATTLdHdQ7w2DLmZn4CRGxO7HiZJXG4nByF818Z25ietz90kjn5As1Jt3u7aKWaQvmfQqzFvqxZwkqFNGqbZdDPXbZtakwHMiFqsGtyuLzxGfJu2Es8Mah1KI_r39mgrEiJHNXFmYkxT1qMzbsMdI_JxrS8FBwJuMiAHspI69wkgoNo813aQnaO-53v7xIyJ4X9UFDwXzHRxjbg6z2GjYR97uWxajv3yHTCmCLeR2bYfTs9CPtGe-_MbuvXnMKACCS-aE8OZHQo6mxNnzWi76klaYVoAYyqi_x9nYYxg98N3XW5onfMfd8I7SNhyyKUecaIvw
HOSTNAME=http://localhost:8000
BUILDING_NAMESPACE=http://ucsd.edu/building/ontology/ebu3b#
BUILDING_PREFIX=ebu3b:
BUILDING_TTL_FILE=examples/data/ebu3b_brick.ttl